body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f8f8f8;
}

.header {
  background-color: #005a9c;
  padding: 10px;
  color: white;
}

nav.navigation {
  display: flex;
  justify-content: space-around;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 5px 10px;

  &:hover, &:focus {
    background-color: #004080;
  }
}

main {
  padding: 20px;
}



.navigation a, .navigation span {
  margin-right: 20px;
  cursor: pointer;
}

.service {
  border: 1px solid #ddd;
  margin-top: 20px;
  padding: 10px;
  background-color: white;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

footer a {
  color: white;
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: underline;
  }
}

label {
  display: block;
  margin-bottom: 5px;
}

input, textarea {
  width: 99%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

button {
  background-color: #005a9c;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;

  &:hover {
    background-color: #004080;
  }
}


